<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
    <!-- Configuration for URL schemes including Google Sign-In -->
    <key>CFBundleURLTypes</key>
    <array>
        <dict>
            <key>CFBundleTypeRole</key>
            <string>Editor</string>
            <key>CFBundleURLSchemes</key>
            <array>
                <!-- This should be your REVERSED_CLIENT_ID from the GoogleService-Info.plist -->
                <string>com.googleusercontent.apps.597928996925-hojhghvmvk8ksa2a00t9j4i2m03h76bq</string>
            </array>
        </dict>
    </array>
    
    <!-- Encryption Usage -->
    <key>ITSAppUsesNonExemptEncryption</key>
    <false/>
    
    <!-- Siri Usage -->
    <key>com.apple.developer.siri</key>
    <true/>
    
    <!-- Audio Input Usage -->
    <key>com.apple.security.device.audio-input</key>
    <true/>
    
    <!-- Permissions -->
    <key>NSPhotoLibraryUsageDescription</key>
    <string>The app needs access to your photos to pick a file</string>
    <key>NSCameraUsageDescription</key>
    <string>The app needs camera access to capture photos</string>
    <key>NSMicrophoneUsageDescription</key>
    <string>The app needs microphone access to transcribe your voice</string>
    <key>NSLocationAlwaysAndWhenInUseUsageDescription</key>
    <string>This app needs access to your location in the background to be aware of your surroundings even when you are not using the app.</string>
    <key>NSLocationAlwaysUsageDescription</key>
    <string>This app needs access to your location to provide notifications about your surroundings.</string>
    <key>NSLocationWhenInUseUsageDescription</key>
    <string>This app needs access to your location to improve the user experience.</string>
    <key>NSPhotoLibraryAddUsageDescription</key>
    <string>Save memojis to photo library</string>
    <key>NSSpeechRecognitionUsageDescription</key>
    <string>We need to process your audio to transcribe it.</string>

    <!-- App Configuration -->
    <key>LSApplicationCategoryType</key>
    <string></string>
    <key>CADisableMinimumFrameDurationOnPhone</key>
    <true/>
    <key>CFBundleDevelopmentRegion</key>
    <string>$(DEVELOPMENT_LANGUAGE)</string>
    <key>CFBundleDisplayName</key>
    <string>Cally</string>
    <key>CFBundleExecutable</key>
    <string>$(EXECUTABLE_NAME)</string>
    <key>CFBundleIdentifier</key>
    <string>$(PRODUCT_BUNDLE_IDENTIFIER)</string>
    <key>CFBundleInfoDictionaryVersion</key>
    <string>6.0</string>
    <key>CFBundleName</key>
    <string>ai_calendar_app</string>
    <key>CFBundlePackageType</key>
    <string>APPL</string>
    <key>CFBundleShortVersionString</key>
    <string>$(FLUTTER_BUILD_NAME)</string>
    <key>CFBundleSignature</key>
    <string>????</string>
    <key>CFBundleVersion</key>
    <string>$(FLUTTER_BUILD_NUMBER)</string>
    <key>LSRequiresIPhoneOS</key>
    <true/>

    <!-- UI Configuration -->
    <key>UIApplicationSupportsIndirectInputEvents</key>
    <true/>
    <key>UILaunchStoryboardName</key>
    <string>LaunchScreen</string>
    <key>UIMainStoryboardFile</key>
    <string>Main</string>
    <key>UISupportedInterfaceOrientations</key>
    <array>
        <string>UIInterfaceOrientationPortrait</string>
        <string>UIInterfaceOrientationPortraitUpsideDown</string>
    </array>
    <key>UISupportedInterfaceOrientations~ipad</key>
    <array>
        <string>UIInterfaceOrientationLandscapeLeft</string>
        <string>UIInterfaceOrientationLandscapeRight</string>
        <string>UIInterfaceOrientationPortrait</string>
        <string>UIInterfaceOrientationPortraitUpsideDown</string>
    </array>
</dict>
</plist>
